*, *::before, *::after {
    box-sizing: border-box;
}

.input-zone {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.input-zone-input {
    flex: 1;
    margin-right: 10px;
}

.message-author {
    font-family: 'Comic Sans MS';
    color: #4800ff;
}

.message {
    font-weight: normal;
    color: maroon;
    font-family: 'Comic Sans MS';
}

.bg-connected {
    background-color: #e6fbe5;
}

.bg-disconnected {
    background-color: #fbe7e7;
}

.bg-message {
    background-color: #d4fafa;
}

.show-date {
    font-weight: normal;
    font-size: small;
    color: #808080;
    font-family: 'Comic Sans MS';
}

.show-to {
    font-weight: normal;
    font-size: small;
    font-family: 'Comic Sans MS';
    color: #808080;
}

.messages {
    border: 1px solid #000;
    margin: 10px;
    max-height: 520px;
    min-height: 520px;
    overflow-y: auto;
    padding: 5px;
}
