*, *::before, *::after {
    box-sizing: border-box;
}

.message-author {
    font-family: 'Comic Sans MS';
    color: #984964;
}

.message {
    font-weight: normal;
    color: #0026ff;
    font-family: 'Comic Sans MS';
}

.bg-connected {
    background-color: #e6fbe5;
}

.bg-disconnected {
    background-color: #fbe7e7;
}

.bg-message {
    background-color: #d4fafa;
}

.show-date {
    font-weight: normal;
    font-size: x-small;
    color: #808080;
    font-family: 'Comic Sans MS';
}

.is-connected {
    font-weight: normal;
    font-size: small;
    font-family: 'Comic Sans MS';
    color: #368714;
}

.is-disconnected {
    font-weight: normal;
    font-size: small;
    font-family: 'Comic Sans MS';
    color: #ff0000;
}

.says-to {
    font-weight: normal;
    font-size: small;
    font-family: 'Comic Sans MS';
    color: #808080;
}

.messages {
    border: 1px dotted #000000;
    max-height: 400px;
    min-height: 400px;
    overflow-y: auto;
    padding: 5px;
    margin-bottom: 7px;
}
