*, *::before, *::after {
    box-sizing: border-box;
}

.input-zone {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.input-zone-input {
    flex: 1;
    margin-right: 10px;
}

.message-author-blue {
    font-weight: normal;
    color: blue;
}

.message-author-red {
    font-weight: normal;
    color: red;
}

.message {
    font-weight: normal;
}

.show-date {
    font-weight: normal;
    font-size: small;
    color: brown;
}

.show-to {
    font-weight: normal;
    font-size: small;
    color: black;
}

.messages {
    border: 1px solid #000;
    margin: 10px;
    max-height: 520px;
    min-height: 520px;
    overflow-y: auto;
    padding: 5px;
}
