@page
@model ChatModel

@{
    ViewData["Title"] = "Chat Room";
}

<h4>@ViewData["Title"]</h4>
<hr />

<div id="messagesList" class="messages"></div>
<div class="input-zone">
    <textarea id="messageInput" class="form-control"></textarea>
    <button id="sendButton" class="btn btn-outline-primary ml-2 px-4 py-3">Send</button>
    <button id="exitButton" class="btn btn-outline-primary ml-2 px-4 py-3">Exit</button>
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script>
        const currentUserName = "@User.Identity.Name";
    </script>
}
